*{
    margin: 0;
    padding: 0;
    min-width: 0; 
    min-height: 0;
    box-sizing: border-box;
    font-family: viking;
    
}

body,html{
    height: 100%;
    background-color: #d0c7c4;
}

@font-face {
    font-family: viking;
    src: url(./RagnaRunesPersonalUseRegular-Rp7AV.otf);
}

#content{
    height: 100%;
    width: 100%;
}

.header{
    background: url('./9OsQHDB.jpg');
}



